/* Geral */
#gallery-content {
    overflow-y: auto;
}

/* Botões da Galeria */
.gallery-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

/* Seção de Conteúdo */
.content-section h1 {
    margin-left: 10px;
}

/* Filtros da Galeria */
.gallery-filter {
    background-color: transparent;
    border: none;
    color: rgba(190, 190, 190, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-right: 8px;
    cursor: pointer;
    padding-bottom: 5px;
    position: relative;
    margin-left: 10px;
}

.gallery-filter:hover {
    color: rgba(225, 225, 225, 1);
}

.gallery-filter.active {
    color: #fff;
}

.gallery-filter::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s ease;
}

.gallery-filter:hover::after,
.gallery-filter.active::after {
    width: 100%;
}

/* Seletor de Filtro */
.filter-per {
    background-color: transparent;
    padding: 10px;
    padding-right: 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    color: antiquewhite;
    border: none;
    cursor: pointer;
    appearance: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23fff" class="bi bi-chevron-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/> </svg>'); /* Seta personalizada */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

.filter-per:hover {
    background-color: #343435;
    color: var(--text-color-hover);
    border-color: var(--button-active-background-hover);
}

.filter-per:focus {
    background-color: #343435;
    color: var(--text-color-hover);
    border-color: var(--button-active-background-hover);
    outline: none;
}

/* Remover a seta padrão do IE/Edge */
.filter-per::-ms-expand {
    display: none;
}

/* Galeria de Imagens */
.gallery-images a {
    position: relative;
    display: block;
}

/* Estilos para a Barra de Rolagem */
::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}