@import url('https://fonts.googleapis.com/css?family=Manrope:700|Manrope:400');

:root {
    --text: rgba(255, 255, 255, 0.99); /* hsl(0, 0%, 99%) */
    --textDim: rgba(153, 153, 153, 1); /* hsl(0, 0%, 60%) */
    --background: rgba(7, 7, 7, 1); /* hsl(0, 0%, 7%) */
    --primary: rgba(210, 230, 254, 0.7); /* rgba(210, 230, 254, 0.7) */
    --primaryBg: hsla(190, 95%, 91%, 1%); /* hsla(213, 95%, 91%, 1%) */
    --primaryHi: rgba(190, 230, 254, 0.25); /* hsla(213, 95%, 91%, 0.25) */
    --primaryFg: hsl(213, 95%, 91%); /* hsl(213, 95%, 91%) */
    --secondary: rgba(176, 148, 255, 1); /* hsl(248, 100%, 86%) */
    --secondaryFg: rgba(176, 148, 255, 1); /* hsl(248, 100%, 86%) */
    --secondaryBg: rgba(176, 148, 255, 0.05); /* hsla(248, 100%, 86%, 0.05) */
    --secondaryHi: rgba(176, 148, 255, 0.50); /* hsla(248, 100%, 86%, 0.50) */
    --accent: rgba(213, 159, 255, 1); /* hsl(293, 78%, 89%) */
    --accentBg: rgba(213, 159, 255, 1); /* hsla(293, 78%, 89%, 1%) */
    --accentHi: rgba(213, 159, 255, 0.25); /* hsla(293, 78%, 89%, 0.25) */
}

/* Importação de fontes */
@import url('https://fonts.googleapis.com/css?family=Manrope:700|Manrope:400');

/* Variáveis de Cores */
:root {
    --text: hsla(0, 0%, 99%, 0.99); /* rgba(255, 255, 255, 0.99) */
    --textDim: hsla(0, 0%, 60%, 1); /* rgba(153, 153, 153, 1) */
    --background: hsla(0, 0%, 7%, 1); /* rgba(7, 7, 7, 1) */
    --primary: hsla(213, 95%, 91%, 0.7); /* rgba(210, 230, 254, 0.7) */
    --primaryBg: hsla(213, 95%, 91%, 1); /* rgba(190, 230, 254, 1) */
    --primaryHi: hsla(213, 95%, 91%, 0.25); /* rgba(190, 230, 254, 0.25) */
    --primaryFg: hsla(213, 95%, 91%, 1); /* rgba(190, 230, 254, 1) */
    --secondary: hsla(248, 100%, 86%, 1); /* rgba(176, 148, 255, 1) */
    --secondaryFg: hsla(248, 100%, 86%, 1); /* rgba(176, 148, 255, 1) */
    --secondaryBg: hsla(248, 100%, 86%, 0.05); /* rgba(176, 148, 255, 0.05) */
    --secondaryHi: hsla(248, 100%, 86%, 0.50); /* rgba(176, 148, 255, 0.50) */
    --accent: hsla(293, 78%, 89%, 1); /* rgba(213, 159, 255, 1) */
    --accentBg: hsla(293, 78%, 89%, 1); /* rgba(213, 159, 255, 1) */
    --accentHi: hsla(293, 78%, 89%, 0.25); /* rgba(213, 159, 255, 0.25) */
}

/* Estrutura da Grid */
.grid {
    position: absolute;
    height: 100%;
    width: 100%; /* Corrigido de "weight" para "width" */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.grid-svg {
    height: 80%;
    width: 80%;
    position: relative;
    z-index: 1;
}

.blur {
    height: 12rem;
    width: 12rem;
    background-color: var(--primary);
    filter: blur(100px);
    border-radius: 50%;
    z-index: 0;
    position: absolute;
}

/* Título */
.title {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: -0.2rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center; /* Corrigido para alinhar ao centro */
    height: 100%;
    z-index: 1000;
}

.title > p {
    margin: 0;
    width: auto;
}

.title > p:nth-child(1) {
    align-self: flex-start;
}

.title > p:nth-child(2) {
    color: var(--primary);
}

.title > p:nth-child(3) {
    margin-top: 50px;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 400;
    text-align: left;
}

/* Ícones */
.material-icons {
    display: none;
    fill: var(--text);
}

/* Introdução */
.introduction {
    position: absolute;
    top: 10%;
    left: 5%;
    padding: 20px; /* Aumenta o padding para dar mais espaço ao conteúdo */
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border-radius: 13px;
    background: linear-gradient(135deg, var(--secondaryBg) 50%, var(--secondaryBg) 50%);
    box-shadow: 0px -3px 15px 0px var(--primaryHi) inset;
    z-index: 9999;
}

.introduction img {
    width: 150px;
    height: auto;
    box-shadow: 0px -3px 15px 0px var(--primaryHi) inset;
    border: 3px solid transparent;
    border-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)); /* Gradiente diagonal */
    border-image-slice: 1; /* Aplica o gradiente à borda */
    transition: border 0.3s ease, border-image 0.3s ease;
}

.introduction img:hover {
    border: 3px solid transparent;
    border-image: linear-gradient(135deg, #d67123, rgba(255, 255, 255, 0.05), #d67123); /* Gradiente diagonal */
    border-image-slice: 1; /* Aplica o gradiente à borda */
}

/* Conteúdo do Texto */
.text-content {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.text-content h1 {
    margin: 0;
    font-size: 2rem;
    color: var(--primary);
}

.text-content p {
    margin: 0;
    font-size: 1rem;
    color: var(--textDim);
}

/* Seção de Download e Galeria de Papel de Parede */
.wallpaper-download {
    text-align: center;
    width: 90%;
    max-width: 750px;
    position: absolute;
    right: 1px;
    height: calc(100vh - 20px); /* Altura máxima ajustável conforme necessário */
}

.wallpaper-gallery {
    text-align: center;
    width: 100%;
    max-width: 800px;
    position: absolute;
    display: grid;
    right: 1px;
    height: calc(100vh - 120px); /* Altura máxima ajustável conforme necessário */
    overflow-y: auto;
}

.wallpaper-item {
    border-radius: 5px;
}

.wallpaper-download h2 {
    text-transform: uppercase;
    font-size: 40px;
    text-shadow: 0 0 2px white;
    margin-bottom: 20px;
}

.wallpaper-gallery img {
    max-width: 100%;
    margin-bottom: 10px;
}

/* Galeria em home-content */
#home-gallery {
    max-width: 100%;
    overflow-y: auto;
}

#gallery {
    max-width: 100%; /* Faz com que a galeria se ajuste à largura do contêiner */
    overflow-y: auto; /* Habilita a rolagem vertical */
}

/* Ícone de Download */
.download-icon {
    position: absolute;
    top: 5px;
    right: 5px;
}

.download-icon a {
    color: #ddd;
    text-shadow: 0 0 5px black;
    text-decoration: none;
    padding: 8px;
    font-size: 13px;
}

.download-icon a:hover {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

/* Rodapé */
footer {
    background-color: transparent; /* Ajuste a cor de fundo conforme necessário */
    color: var(--text); /* Ajuste a cor do texto conforme necessário */
    text-align: left;
    padding: 10px 0; /* Espaçamento interno para o footer */
    position: absolute;
    bottom: 17px;
    width: 100%;
    z-index: 9999;
}

footer i {
    font-size: 22px;
}

/* Ícones Sociais */
.social-icons {
    display: flex;
    gap: 15px; /* Espaçamento entre os ícones */
}

.social-icons a {
    display: inline-block;
    text-decoration: none; /* Remove o sublinhado dos links */
    transition: color 0.3s ease; /* Transição suave para a cor dos ícones */
}

.social-icons i {
    font-size: 24px; /* Tamanho dos ícones */
    color: white; /* Cor dos ícones */
    transition: color 0.3s ease; /* Transição suave para a cor dos ícones */
}

.social-icons a:hover .fa-twitter {
    color: #1DA1F2; /* Cor de base para o Twitter */
    text-shadow: 0 0 1px #1DA1F2, 0 0 2px #1A91DA; /* Efeito de sombra que cria um gradiente visual */
}

.social-icons a:hover .fa-instagram {
    color: #E4405F; /* Cor de base para o Instagram */
    text-shadow: 0 0 1px #E4405F, 0 0 2px #C13584; /* Efeito de sombra que cria um gradiente visual */
}

.social-icons a:hover .fa-discord {
    color: #7289DA; /* Cor de base para o Discord */
    text-shadow: 0 0 1px #7289DA, 0 0 2px #4B77BE; /* Efeito de sombra que cria um gradiente visual */
}

/* Balloon */
.balloon {
    background-color: none;
    background: none;
    border: none;
    --balloon-color: #d67123;
}