/* Variáveis */

/* Configuração global */
  :root {
    --background-color: #101010;
    --main-color: #151515;
    --scrollbar-width: 7px;
    --scrollbar-thumb-bg: rgba(55, 55, 55, 0.5);
    --scrollbar-thumb-border-radius: 10px;
    --main-content-margin-right: 10px;
    --main-content-box-sizing: border-box;
    --row-margin-top: 0px;
    --row-margin-bottom: 0px;
    --row-align-items: center;
    --row-justify-content: center;
    --row-width: 100%;
    --row-position: relative;
  /* Circulos */
    --circle-border-radius: 50%;
    --animation-duration: 60s;
    --animation-ease: ease;
    --background-blur: 10px;
    --circle-one-size: 250px;
    --circle-two-size: 150px;
    --circle-three-size: 100px;
    --circle-one-position-top: 0;
    --circle-one-position-left: 55%;
    --circle-two-position-top: 10%;
    --circle-three-position-top: 95%;
    --circle-three-position-right: -20%;
    --translate-value: -50% -50%;
  /* Galeria */
    --background-color: #151515;
    --border-none: none;
    --color-inactive: rgba(190, 190, 190, 1);
    --color-active: rgba(225, 225, 225, 1);
    --font-family: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-size: 16px;
    --margin-button: 0 2px 0 10px;
    --margin-paragraph: 40px;
    --cursor-pointer: pointer;
    --transition-color: color 0.3s ease;
    --transition-width: width 0.5s ease;
    --bottom-position: 10px;
    --height-after: 2px;
    --background-color-after: #fff;
  /* Justified Gallery */
    --gallery-bg: #888888;
    --gallery-opacity: 0.1;
    --border-transparent: 2px solid transparent;
    --border-image-gradient: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    --border-image-slice: 1;
    --transition-border: 0.3s ease;
    --img-position: absolute;
    --img-center: 50%;
    --caption-bg: rgba(10, 10, 10, 0.2);
    --caption-blur: blur(10px);
    --caption-color: #ccc;
    --caption-font-size: 15px;
    --caption-font-weight: 400;
    --caption-font-family: 'Roboto', sans-serif;
    --caption-text-shadow: 0px 0px 4px black;
    --caption-transform-initial: translateY(120%);
    --caption-transform-visible: translateY(0);
    --caption-transition: transform 0.2s ease-in;
    --entry-transition: opacity 500ms ease-in;
    --spinner-margin-left: -24px;
    --spinner-padding: 10px 0;
    --spinner-bg: #000;
    --spinner-radius: 6px;
    --spinner-width: 8px;
    --spinner-height: 8px;
    --spinner-margin: 0 4px;
  /* Logo */
    --logo-left: 10px;

  /* Switch */
    --switch-height: 29px;
    --switch-width: 225px;
    --switch-bg: linear-gradient(135deg, #202020, #151515);
    --switch-border: 1px solid rgba(235, 244, 245, 0.1);
    --switch-color: #EBF4F5ff;
    --switch-color-checked: #000;
    --switch-selector-bg: linear-gradient(135deg, #EBF4F5ff, #E2ECF2ff, #D9E5EEff, #D0DDEBff, #C7D5E7ff, #BECEE4ff, #B5C6E0ff);
    --switch-selector-blur: blur(15px);
    --switch-selector-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    --switch-font-size: 10px;
    --switch-spacing: 25px;
    --switch-transition: 0.3s ease-in-out;
  /* Barra de pesquisa e Sugestões */
    --search-box-top: 20px;
    --input-height: 25px;
    --input-width-expanded: 325px;
    --input-width-collapsed: 250px;
    --input-border: none;
    --input-font-size: 14px;
    --input-letter-spacing: 2px;
    --input-outline: none;
    --input-border-radius-expanded: 25px;
    --input-border-radius-collapsed: 25px;
    --input-bg: rgba(155, 155, 155, 0.1);
    --input-bg-blur: blur(10px);
    --input-color: #fff;
    --input-placeholder-color: rgba(255, 255, 255, 0.6);
    --input-placeholder-font-size: 14px;
    --input-placeholder-font-weight: 100;
    --input-transition: all 0.5s ease-in-out;
    --input-border-focus: 1px solid rgba(255, 255, 255, 0.2);
    --btn-size: 20px;
    --btn-font-size: 17px;
    --btn-font-weight: bold;
    --btn-outline: none;
    --btn-cursor: pointer;
    --btn-border-radius: 50%;
    --btn-position: absolute;
    --btn-right: 5px;
    --btn-color: #ffffff;
    --btn-bg: transparent;
    --btn-text-shadow: 0px 0px 4px #b31f1a;
    --btn-active-color: crimson;
    --suggestions-top: 50px;
    --suggestions-right: 20px;
    --suggestions-bg: rgba(55, 55, 55, 0.5);
    --suggestions-blur: blur(20px);
    --suggestions-border-radius: 10px;
    --suggestions-border: 1px solid rgba(255, 255, 255, 0.2);
    --suggestions-z-index: 15;
    --suggestions-max-height: 250px;
    --suggestions-overflow-y: auto;
    --suggestions-display: none;
    --suggestions-letter-spacing: 2px;
    --suggestions-padding: 5px;
    --suggestions-width: 320px;
    --suggestions-text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    --suggestion-item-padding: 5px;
    --suggestion-item-hover-bg: linear-gradient(135deg, #EBF4F5ff, #E2ECF2ff, #D9E5EEff, #D0DDEBff, #C7D5E7ff, #BECEE4ff, #B5C6E0ff);
    --suggestion-item-hover-blur: blur(20px);
    --suggestion-item-hover-color: black;
    --suggestion-item-hover-border-radius: 10px;
    --highlight-color: gray;
  /* Tela de carregamento */
    --loading-bg: #050505;
    --loading-z-index: 1000;
    --loading-opacity: 1;
    --loading-transition: opacity 1s ease-out;
    --spinner-border: 4px solid #f3f3f3;
    --spinner-border-top: 4px solid #db8d34;
    --spinner-border-radius: 50%;
    --spinner-size: 20px;
    --spinner-bottom: 10px;
    --spinner-right: 10px;
    --spinner-animation: spin 1s linear infinite;
    --loading-img-width: 100px;
    --loading-img-margin-bottom: 20px;
    --site-name-color: white;
    --site-name-font-size: 34px;
    --site-name-margin: 10px 0;
    --loading-text-color: white;
    --loading-text-font-size: 16px;
    --loading-text-margin: 10px 0;
    --loading-content-width: 750px;
    --loading-content-height: 350px;
    --loading-content-bg: rgba(0, 0, 0, 0.8);
    --loading-content-border-radius: 20px;
    --loading-content-border: 2px solid rgba(255, 255, 255, 0.1);
    --loading-content-box-shadow: 0 0 10px black;
    --gradient-bg: linear-gradient(to right, rgba(225, 225, 225, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    --gradient-filter: opacity(0.3) blur(75px) brightness(0.5);
    --gradient-animation: gradientShift 5s ease infinite;
    --image-bg-loading: url('https://i.postimg.cc/Pq8vzxy1/001-Life-is-Strange-True-Colors-21-05-2022.jpg');
  }
  /* Fim das variáveis */

/* Configuração global */
  html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
  }

  body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

/* Seções e Conteúdos */
  .main-content {
    position: relative;
    flex-grow: 1;
    margin-right: var(--main-content-margin-right);
    box-sizing: var(--main-content-box-sizing);
  }

  .row {
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: var(--row-align-items);
    justify-content: center; /* Centraliza os itens na horizontal */
    width: 100vw; /* Largura da viewport */
    position: var(--row-position);
    margin-top: var(--row-margin-top);
    margin-bottom: var(--row-margin-bottom);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra suave */
    overflow: hidden; /* Para ocultar qualquer conteúdo que transborde */
    background-color: rgba(20, 20, 20, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-bottom: 1px solid rgba(55, 55, 55, 0.4);
  }


/* Scroll-bar */
  ::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg);
    border-radius: var(--scrollbar-thumb-border-radius);
  }

/* Circúlos */
  .circles {
    position: absolute;
    border-radius: var(--circle-border-radius);
  }

  .circle-one {
    height: var(--circle-one-size);
    width: var(--circle-one-size);
    top: var(--circle-one-position-top);
    left: var(--circle-one-position-left);
    translate: var(--translate-value);
    animation: pulse 10s var(--animation-ease) infinite;
  }

  .circle-two {
    height: var(--circle-two-size);
    width: var(--circle-two-size);
    top: var(--circle-two-position-top);
    translate: var(--translate-value);
    animation: right var(--animation-duration) var(--animation-ease) infinite;
  }

  .circle-three {
    height: var(--circle-three-size);
    width: var(--circle-three-size);
    top: var(--circle-three-position-top);
    right: var(--circle-three-position-right);
    translate: var(--translate-value);
    animation: left var(--animation-duration) var(--animation-ease) infinite;
  }

/* Background Blur */
  .background {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    backdrop-filter: blur(var(--background-blur));
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Animações */
  @keyframes right {
    0% { transform: translateX(0); }
    50% { transform: translateX(100px); }
    100% { transform: translateX(0); }
  }

  @keyframes left {
    0% { transform: translateX(0); }
    50% { transform: translateX(-100px); }
    100% { transform: translateX(0); }
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }


  @keyframes right {
    0% { top: 20%; left: -80%; }
    20% { top: 40%; left: -70%; }
    40% { top: 30%; left: -30%; }
    60% { top: 70%; left: -10%; }
    80% { top: 0%; left: 100%; }
    100% { top: 20%; left: -80%; }
  }

  @keyframes left {
    0% { top: 95%; right: -20%; }
    20% { top: 70%; right: -80%; }
    40% { top: 30%; right: -30%; }
    60% { top: 70%; right: -10%; }
    80% { top: 0%; right: 100%; }
    100% { top: 20%; right: -80%; }
  }

  @keyframes pulse {
    0%, 100% { height: 150px; width: 150px; }
    50% { height: 75px; width: 75px; }
  }

/* Galeria */
  .gallery-buttons {
    display: flex;
  }

  .gallery-filter {
    background-color: var(--background-color);
    border: var(--border-none);
    color: var(--color-inactive);
    font-family: var(--font-family);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size);
    margin: var(--margin-button);
    cursor: var(--cursor-pointer);
    transition: var(--transition-color);
  }

  .gallery-buttons p {
    position: relative;
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size);
    margin-left: var(--margin-paragraph);
  }

  .gallery-filter:hover,
  .gallery-filter.active {
    color: var(--color-active);
  }

  .gallery-filter::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: var(--bottom-position);
    width: 0;
    height: var(--height-after);
    background-color: var(--background-color-after);
    transition: var(--transition-width);
  }

  .gallery-filter:hover::after,
  .gallery-filter.active::after {
    width: 100%;
  }

  .gallery-images a {
    position: relative;
    display: block;
  }

/* Justified Gallery */
  .justified-gallery {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .justified-gallery > a,
  .justified-gallery > div,
  .justified-gallery > figure {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    background: var(--gallery-bg);
    filter: "alpha(opacity=10)";
    opacity: var(--gallery-opacity);
    margin: 0;
    padding: 0;
  }

  .justified-gallery > a {
    border: var(--border-transparent);
    border-image: var(--border-image-gradient);
    border-image-slice: var(--border-image-slice);
    transition: border var(--transition-border), border-image var(--transition-border);
  }

  .justified-gallery > a:hover {
    border: var(--border-transparent);
  }

  .justified-gallery > a > img,
  .justified-gallery > div > img,
  .justified-gallery > figure > img,
  .justified-gallery > a > a > img,
  .justified-gallery > div > a > img,
  .justified-gallery > figure > a > img,
  .justified-gallery > a > svg,
  .justified-gallery > div > svg,
  .justified-gallery > figure > svg,
  .justified-gallery > a > a > svg,
  .justified-gallery > div > a > svg,
  .justified-gallery > figure > a > svg {
    position: var(--img-position);
    top: var(--img-center);
    left: var(--img-center);
    margin: 0;
    padding: 0;
    filter: "alpha(opacity=0)";
    opacity: 0;
  }

/* Estilo inicial do caption com efeito de vidro */
  .justified-gallery > a > .jg-caption,
  .justified-gallery > div > .jg-caption,
  .justified-gallery > figure > .jg-caption {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    padding: 5px;
    background: var(--caption-bg);
    backdrop-filter: var(--caption-blur);
    -webkit-backdrop-filter: var(--caption-blur);
    left: 0;
    right: 0;
    margin: 0;
    color: var(--caption-color);
    font-size: var(--caption-font-size);
    font-weight: var(--caption-font-weight);
    font-family: var(--caption-font-family);
    text-shadow: var(--caption-text-shadow);
    transform: var(--caption-transform-initial);
    transition: var(--caption-transition);
  }

/* Estilo do caption quando visível */
  .justified-gallery > a > .jg-caption.jg-caption-visible,
  .justified-gallery > div > .jg-caption.jg-caption-visible,
  .justified-gallery > figure > .jg-caption.jg-caption-visible {
    transform: var(--caption-transform-visible);
  }

  .justified-gallery > .jg-entry-visible {
    filter: "alpha(opacity=100)";
    opacity: 1;
    background: none;
  }

  .justified-gallery > .jg-entry-visible > img,
  .justified-gallery > .jg-entry-visible > a > img,
  .justified-gallery > .jg-entry-visible > svg,
  .justified-gallery > .jg-entry-visible > a > svg {
    filter: "alpha(opacity=100)";
    opacity: 1;
    -webkit-transition: var(--entry-transition);
    -moz-transition: var(--entry-transition);
    -o-transition: var(--entry-transition);
    transition: var(--entry-transition);
  }

  .justified-gallery > .jg-filtered {
    display: none;
  }

  .justified-gallery > .jg-spinner {
    position: absolute;
    bottom: 0;
    margin-left: var(--spinner-margin-left);
    padding: var(--spinner-padding);
    left: 50%;
    filter: "alpha(opacity=100)";
    opacity: 1;
    overflow: initial;
  }

  .justified-gallery > .jg-spinner > span {
    display: inline-block;
    filter: "alpha(opacity=0)";
    opacity: 0;
    width: var(--spinner-width);
    height: var(--spinner-height);
    margin: var(--spinner-margin);
    background-color: var(--spinner-bg);
    border-radius: var(--spinner-radius);
  }

/* Logo e Nome */
  .website-name {
    display: flex;
    position: absolute;
    align-items: center;
    left: var(--logo-left);
  }

/* Logo */
  .logo {
    font-weight: 700;
    padding: 5px;
    background: linear-gradient(135deg, #202020, #151515);
    display: flex;
    border-radius: 5px;
    border: 1px solid rgba(235, 244, 245, 0.1);
    margin-right: 2px;
    pointer-events: none;
  }

/* Switch */
  .switch {
    position: relative;
    display: flex;
    height: var(--switch-height);
    width: var(--switch-width);
    background: var(--switch-bg);
    backdrop-filter: var(--switch-selector-blur);
    border-radius: 5px;
    border: var(--switch-border);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin-right: var(--switch-spacing);
  }

  .switch-label {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    position: relative;
    z-index: 2;
    float: left;
    width: calc(var(--switch-width) / 3);
    line-height: var(--switch-height);
    font-size: var(--switch-font-size);
    text-transform: uppercase;
    color: var(--switch-color);
    text-align: center;
    cursor: pointer;
    transition: color var(--switch-transition), text-shadow var(--switch-transition);
  }

  .switch-input {
    display: none;
  }

  .switch-input:checked + .switch-label {
    color: var(--switch-color-checked);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  }

  .switch-input:checked + .switch-label-y ~ .switch-selector {
    transform: translateX(0%);
    background: var(--switch-selector-bg);
    backdrop-filter: var(--switch-selector-blur);
    box-shadow: var(--switch-selector-shadow);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .switch-input:checked + .switch-label-i ~ .switch-selector {
    transform: translateX(100%);
    background: var(--switch-selector-bg);
    backdrop-filter: var(--switch-selector-blur);
    box-shadow: var(--switch-selector-shadow);
    border-radius: 5px;
  }

  .switch-input:checked + .switch-label-n ~ .switch-selector {
    transform: translateX(200%);
    background: var(--switch-selector-bg);
    backdrop-filter: var(--switch-selector-blur);
    box-shadow: var(--switch-selector-shadow);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .switch-selector {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: calc(var(--switch-width) / 3);
    height: var(--switch-height);
    background-color: #1ab394;
    transition: transform var(--switch-transition);
  }

/* Barra de pesquisa e Sugestões */
  .search-box {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .input-search {
    height: var(--input-height);
    width: var(--input-width-collapsed);
    border: var(--input-border);
    font-size: var(--input-font-size);
    letter-spacing: var(--input-letter-spacing);
    outline: var(--input-outline);
    border-radius: var(--input-border-radius-collapsed);
    transition: var(--input-transition);
    background-color: var(--input-bg);
    backdrop-filter: var(--suggestions-blur);
    color: var(--input-color);
    border: 1px solid transparent;
    text-align: center;
  }

  .input-search::placeholder {
    color: var(--input-placeholder-color);
    font-size: var(--input-placeholder-font-size);
    font-weight: var(--input-placeholder-font-weight);
  }

  .btn-search {
    width: var(--btn-size);
    height: var(--btn-size);
    border: var(--input-border);
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    outline: var(--btn-outline);
    cursor: var(--btn-cursor);
    border-radius: var(--btn-border-radius);
    margin-right: var(--btn-right);
    color: var(--btn-color);
    background-color: var(--btn-bg);
    pointer-events: painted;
  }

  .btn-search:focus ~ .input-search,
  .input-search:focus {
    width: var(--input-width-expanded);
    border-radius: var(--input-border-radius-expanded);
    background-color: var(--input-bg);
    backdrop-filter: var(--input-bg-blur);
    border: var(--input-border-focus);
    transition: var(--input-transition);
  }

  .btn-search.clear-active i {
    color: var(--btn-active-color);
    text-shadow: var(--btn-text-shadow);
  }

    .suggestions {
      position: absolute;
      top: var(--suggestions-top);
      left: calc(50% + 13px);
      transform: translateX(-50%);
      background: var(--suggestions-bg);
      backdrop-filter: var(--suggestions-blur);
      border-radius: var(--suggestions-border-radius);
      border: var(--suggestions-border);
      z-index: 1;
      max-height: var(--suggestions-max-height);
      overflow-y: var(--suggestions-overflow-y);
      display: var(--suggestions-display);
      letter-spacing: var(--suggestions-letter-spacing);
      padding: var(--suggestions-padding);
      width: var(--suggestions-width);
      text-align: center;
      text-shadow: var(--suggestions-text-shadow);
  }

  .suggestion-item {
      cursor: pointer;
      padding: var(--suggestion-item-padding);
      display: flex;
      align-items: center;
      justify-content: left;
  }


  .suggestion-item:hover {
    background: var(--suggestion-item-hover-bg);
    backdrop-filter: var(--suggestion-item-hover-blur);
    color: var(--suggestion-item-hover-color);
    border-radius: var(--suggestion-item-hover-border-radius);
  }

  .suggestion-divider {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 300;
    font-size: 0.7em;
    text-transform: uppercase;
    color: #fff;
    margin: 10px 0;
  }

  .suggestion-divider::before {
    content: "";
    flex-grow: 1;
    height: 1px;
    margin-right: 10px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(181, 198, 224, 0.7), rgba(181, 198, 224, 0.7), rgba(255, 255, 255, 0));
  }

  .suggestion-divider::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    margin-left: 10px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(181, 198, 224, 0.7), rgba(181, 198, 224, 0.7), rgba(255, 255, 255, 0));
  }

  .author-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid rgba(255, 255, 255, .5);
    transition: border 0.3s;
  }

  .suggestion-item:hover .author-icon {
      border: 2px solid rgba(0, 0, 0, 1);
  }

  .title-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(200, 200, 200, .2);
    border-radius: 50%;
  }

  .highlight {
    color: var(--highlight-color);
  }

/* Tela de carregamento */
  #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--loading-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: var(--loading-z-index);
    overflow: hidden;
    opacity: var(--loading-opacity);
    transition: var(--loading-transition);
  }

  #loading-screen img {
    width: var(--loading-img-width);
    height: auto;
    margin-bottom: var(--loading-img-margin-bottom);
  }

  body.loading {
    overflow: hidden;
  }

  .spinner {
    border: var(--spinner-border);
    border-top: var(--spinner-border-top);
    border-radius: var(--spinner-border-radius);
    width: var(--spinner-size);
    height: var(--spinner-size);
    position: absolute;
    bottom: var(--spinner-bottom);
    right: var(--spinner-right);
    animation: var(--spinner-animation);
  }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

  #loading-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--image-bg-loading);
    filter: var(--gradient-filter);
    background-size: 200% 100%;
  }

  .loading-content {
    position: relative;
    width: var(--loading-content-width);
    height: var(--loading-content-height);
    background-color: var(--loading-content-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: calc(var(--loading-z-index) + 1);
    border-radius: var(--loading-content-border-radius);
    border: var(--loading-content-border);
    box-shadow: var(--loading-content-box-shadow);
  }

  .site-name {
    color: var(--site-name-color);
    font-size: var(--site-name-font-size);
    margin: var(--site-name-margin);
  }

  .loading-text {
    color: var(--loading-text-color);
    font-size: var(--loading-text-font-size);
    margin: var(--loading-text-margin);
  }

  #background-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    transition: background-image 0.5s ease-in-out;
  }

/* background blur */
  .background {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }

  #swipebox-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(var(--background-blur));
  }

  #swipebox-slider .slide img {
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(var(--background-blur));
  }

  #swipebox-close {
    color: #fff;
    font-size: 20px;
    right: 15px;
    top: 10px;
    opacity: 0.8;
  }

  #swipebox-prev, #swipebox-next {
    color: #fff;
    font-size: 30px;
    opacity: 0.8;
    text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  }

  #swipebox-bottom-bar {
    background: none;
  }

  #swipebox-slider .slide img {
    max-width: 91%;
    max-height: 91%;
    object-fit: contain;
  }

  #swipebox-arrows a {
    background-color: transparent;
  }


/* Sobre mim */

  .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  position: relative;
  }

  .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  }

  .close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }

  #openModalBtn {
  font-family: 'Roboto', sans-serif;
  background-color: #303030;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 8px 10px;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-right: 15px;
  }

  #openModalBtn:hover {
  background: linear-gradient(135deg, #EBF4F5ff, #E2ECF2ff, #D9E5EEff, #D0DDEBff, #C7D5E7ff, #BECEE4ff, #B5C6E0ff);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  color: #000;
  }

  #openModalBtn:active {
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
  }

  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    --primary-font: 'Montserrat', sans-serif;
    --size-font-title: 60px;
    --size-font-sub-title: 24px;
    --size-font-body: 26px;
    --size-font-small: 18px;
    --primary-color: #FF6347;
    --secondary-color: #ffe29a;
    --primary-color-background: rgba(15, 15, 15, 0.9);
    --secondary-color-background: #C1CACB;
    --primary-color-font: black;
    --secondary-color-font: #F5F5F5;
    --primary-spacing: 20px;
    --secondary-spacing: 10px;
    --tertiary-spacing: 5px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
  }

  .modal-content {
    background-color: transparent;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
  }

  section {
    width: 500px;
    height: 450px;
    box-sizing: border-box;
    background: var(--primary-color-background);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    border-radius: 10px;
  }

  figure {
    grid-column: 1 / -1;
    height: 200px;
  }

  .texto {
    font-family: var(--primary-font);
    position: absolute;
    bottom: 20px;
    left: 190px;
    right: 20px;
    padding: var(--primary-spacing);
    background-color: rgba(55, 55, 55, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: white;
  }

  .texto h1 {
    font-size: var(--size-font-sub-title);
    padding-bottom: var(--primary-spacing);
  }

  .caja {
    position: absolute;
    top: 56%;
    left: 20px;
    transform: translateY(-50%);
    width: 150px;
    height: 150px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
  }

  .caja img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .close {
  position: absolute;
    color: #fff;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    padding-right: 9px;
    padding-left: 9px;
  }

  .close:hover,
  .close:focus {
    color: crimson;
    text-shadow: 0 0 10px rgb(255, 91, 124);
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 50%;
  }

  .social-icons {
  position: absolute;
  bottom: 60px;
  left: 48px;
  justify-content: center;
  margin-top: 20px;
  }

  .icon {
  margin: 0 5px;
  color: var(--primary-color);
  font-size: 24px;
  transition: color 0.3s;
  }

  .icon:hover {
  color: var(--secondary-color);
  }