.justified-gallery {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.justified-gallery > a,
.justified-gallery > div,
.justified-gallery > figure {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  background: #888888;
  filter: "alpha(opacity=10)";
  opacity: 0.1;
  margin: 0;
  padding: 0;
}

.justified-gallery > a {
  border: 2px solid transparent; /* Borda inicial transparente */
  border-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)); /* Gradiente padrão */
  border-image-slice: 1; /* Aplica o gradiente à borda */
  transition: border 0.3s ease, border-image 0.3s ease;
}

.justified-gallery > a:hover {
  border: 2px solid transparent;
  /* O gradiente será dinâmico a partir do JavaScript */
}




.justified-gallery > a > img,
.justified-gallery > div > img,
.justified-gallery > figure > img,
.justified-gallery > a > a > img,
.justified-gallery > div > a > img,
.justified-gallery > figure > a > img,
.justified-gallery > a > svg,
.justified-gallery > div > svg,
.justified-gallery > figure > svg,
.justified-gallery > a > a > svg,
.justified-gallery > div > a > svg,
.justified-gallery > figure > a > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  filter: "alpha(opacity=0)";
  opacity: 0;
}
/* Estilo inicial do caption com efeito de vidro */
.justified-gallery > a > .jg-caption,
.justified-gallery > div > .jg-caption,
.justified-gallery > figure > .jg-caption {
  display: flex; /* Usar flexbox para centralizar o texto */
  align-items: flex-end; /* Alinha o texto ao fundo */
  position: absolute;
  bottom: 0;
  padding: 5px;
  background: rgba(10, 10, 10, 0.2); /* Fundo quase transparente */
  backdrop-filter: blur(10px); /* Efeito de desfoque de fundo */
  -webkit-backdrop-filter: blur(10px); /* Suporte para Safari */
  left: 0;
  right: 0;
  margin: 0;
  color: #ccc;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 0px 4px black;
  transform: translateY(120%); /* Inicia fora da tela */
  transition: transform 0.2s ease-in; /* Transição suave */
}

/* Estilo do caption quando visível */
.justified-gallery > a > .jg-caption.jg-caption-visible,
.justified-gallery > div > .jg-caption.jg-caption-visible,
.justified-gallery > figure > .jg-caption.jg-caption-visible {
  transform: translateY(0); /* Move o caption para dentro da tela */
}


.justified-gallery > .jg-entry-visible {
  filter: "alpha(opacity=100)";
  opacity: 1;
  background: none;
}
.justified-gallery > .jg-entry-visible > img,
.justified-gallery > .jg-entry-visible > a > img,
.justified-gallery > .jg-entry-visible > svg,
.justified-gallery > .jg-entry-visible > a > svg {
  filter: "alpha(opacity=100)";
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}
.justified-gallery > .jg-filtered {
  display: none;
}
.justified-gallery > .jg-spinner {
  position: absolute;
  bottom: 0;
  margin-left: -24px;
  padding: 10px 0 10px 0;
  left: 50%;
  filter: "alpha(opacity=100)";
  opacity: 1;
  overflow: initial;
}
.justified-gallery > .jg-spinner > span {
  display: inline-block;
  filter: "alpha(opacity=0)";
  opacity: 0;
  width: 8px;
  height: 8px;
  margin: 0 4px 0 4px;
  background-color: #000;
  border-radius: 6px;
}